.CheckoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__info{
    padding-left: 20px;

}

.checkoutProduct__info > button{
    background: antiquewhite;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: brown;

}

.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;

}

.checkoutProduct_rating{
    display: flex;

}

.CheckoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}